<!DOCTYPE html>
<html>

<head>
    <title>International Languages Elementary (ILE) Program</title>
    <meta name="robots" content="noindex, nofollow">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="google-signin-client_id"
          content="445673210215-jp33uqbo1fpf5g0mk0hkt6hitmblik47.apps.googleusercontent.com" />

    <script src="../../resources/js/base64.min.js"></script>
    <script src="../../resources/js/bundle.js"></script>
    <script src="./config.js"></script>

    <script src="../../resources/js/google-api.js"></script>
    <script src="https://apis.google.com/js/platform.js?onload=renderButton" async defer></script>
</head>

<body ng-app="angular-app" ng-controller="reportcard" ng-init="init()" class="reportcard">

<div id="main" class="main">
    <div ng-if="!accessToken" class="signin">
        <div id="gapi-signin"></div>
    </div>

    <div ng-if="accessToken">
        <div class="loader" data-loading></div>
        <div ng-view></div>
    </div>
</div>

</body>

</html>
