<div class="list">
    <div class="header">
        INTERNATIONAL LANGUAGES ELEMENTARY (ILE) PROGRAM - AFTER HOURS<br/>
        REPORT CARDS
    </div>

    <table class="table table-striped">
        <tr style="color: #ffffff; background-color: #337ab7;">
            <td>Name</td>
            <td colspan="2">OEN</td>
        </tr>

        <tr ng-repeat="student in students">
            <td>{{student.name}}</td>
            <td>{{formatOEN(student.oen)}}</td>
            <td style="width: 68px;">
                <a href="#!/view" ng-click="view(student.oen)" title="View"><i class="glyphicon glyphicon-file"></i></a>&nbsp;
                <a href="#!/edit" ng-click="edit(student.oen)" title="Edit"><i class="glyphicon glyphicon-edit"></i></a>
            </td>
        </tr>
    </table>

    <div class="footer">&nbsp;</div>
</div>