html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: serif;
    font-size: 18px;
    line-height: unset;
}

.reportcard .main {
    width: 100%;
    height: 100%;
}

.reportcard .header {
    margin: 20px;
    text-align: center;
    font-size: 16px;
    font-weight: 600;
    line-height: 1.8;
}

.reportcard .list, .reportcard .view, .reportcard .edit {
    position: relative;
    width: 920px;
    margin: 0 auto;
}

.reportcard .view > div, .reportcard .edit > div {
    position: absolute;
}

.reportcard .list .table {
    width: 720px;
    margin: 0 auto;
    border: 1px solid #9d9d9d;
}

.reportcard .image {
    width: 100%;
}

.reportcard .name {
    top: 106px;
    left: 150px;
}

.reportcard .oen {
    top: 131px;
    left: 150px;
}

.reportcard .center {
    top: 118px;
    left: 516px;
    width: 320px;
}

.reportcard .instructor {
    top: 161px;
    left: 165px;
}

/** absents **/
.reportcard div[class*="absent-"] {
    top: 161px;
    width: 46px;
    text-align: center;
}

.reportcard .edit div[class*="absent-"] {
    top: 159px;
}

.reportcard .absent-1 {
    left: 589px;
}

.reportcard .absent-2 {
    left: 812px;
}

/** skill 1 - responsibility **/
.reportcard div[class*="skill-"] {
    width: 50px;
    text-align: center;
}

.reportcard div[class*="skill-1"] {
    top: 218px;
}

.reportcard .edit div[class*="skill-1"] {
    top: 217px;
}

.reportcard .skill-11 {
    left: 738px;
}

.reportcard .skill-12 {
    left: 805px;
}

/** skill 2 - independent **/
.reportcard div[class*="skill-2"] {
    top: 258px;
}

.reportcard .edit div[class*="skill-2"] {
    top: 257px;
}

.reportcard .skill-21 {
    left: 738px;
}

.reportcard .skill-22 {
    left: 805px;
}

/** skill 3 - initiative **/
.reportcard div[class*="skill-3"] {
    top: 298px;
}

.reportcard .edit div[class*="skill-3"] {
    top: 297px;
}

.reportcard .skill-31 {
    left: 738px;
}

.reportcard .skill-32 {
    left: 805px;
}

/** skill 4 - collaboration **/
.reportcard div[class*="skill-4"] {
    top: 340px;
}

.reportcard .edit div[class*="skill-4"] {
    top: 337px;
}

.reportcard .skill-41 {
    left: 738px;
}

.reportcard .skill-42 {
    left: 805px;
}

.reportcard div[class*="-g1"], .reportcard div[class*="-g2"] {
    width: 50px;
    text-align: center;
}

.reportcard div[class*="-c1"], .reportcard div[class*="-c2"] {
    font-size: 16px;
}

/** oral communication **/
.reportcard div[class*="oral-g"] {
    top: 513px;
}

.reportcard div[class*="oral-c"] {
    top: 438px;
}

.reportcard .edit div[class*="oral-c"] {
    top: 436px;
}

.reportcard .oral-g1 {
    left: 204px;
}

.reportcard .oral-g2 {
    left: 271px;
}

.reportcard .oral-c1 {
    left: 336px;
    width: 250px;
}

.reportcard .edit .oral-c1 {
    left: 332px;
    width: 258px;
}

.reportcard .oral-c2 {
    left: 599px;
    width: 257px;
}

.reportcard .edit .oral-c2 {
    left: 595px;
    width: 264px;
}

/** reading **/
.reportcard div[class*="reading-g"] {
    top: 693px;
}

.reportcard div[class*="reading-c"] {
    top: 619px;
}

.reportcard .edit div[class*="reading-c"] {
    top: 617px;
}

.reportcard .reading-g1 {
    left: 204px;
}

.reportcard .reading-g2 {
    left: 271px;
}

.reportcard .reading-c1 {
    left: 336px;
    width: 250px;
}

.reportcard .edit .reading-c1 {
    left: 332px;
    width: 258px;
}

.reportcard .reading-c2 {
    left: 599px;
    width: 257px;
}

.reportcard .edit .reading-c2 {
    left: 595px;
    width: 264px;
}

/** writing **/
.reportcard div[class*="writing-g"] {
    top: 874px;
}

.reportcard div[class*="writing-c"] {
    top: 801px;
}

.reportcard .edit div[class*="writing-c"] {
    top: 799px;
}

.reportcard .writing-g1 {
    left: 204px;
}

.reportcard .writing-g2 {
    left: 271px;
}

.reportcard .writing-c1 {
    left: 336px;
    width: 250px;
}

.reportcard .edit .writing-c1 {
    left: 332px;
    width: 258px;
}

.reportcard .writing-c2 {
    left: 599px;
    width: 257px;
}

.reportcard .edit .writing-c2 {
    left: 595px;
    width: 264px;
}

.reportcard .edit textarea {
    height: 174px;
    padding: 0 4px;
    resize: none;
    font-size: 16px;
    line-height: 20px;
    border-radius: unset;
}

/** signature **/
.reportcard div[class*="date-t"] {
    top: 1102px;
    width: 170px;
}

.reportcard div[class*="signature-t"] {
    top: 1131px;
}

.reportcard .date-t1, .reportcard .signature-t1 {
    left: 210px;
}

.reportcard .date-t2, .reportcard .signature-t2 {
    left: 608px;
}

.reportcard div[class*="signature-"] img {
    height: 28px;
}

.reportcard .clear-date-t1, .reportcard .clear-date-t2 {
    position: relative;
    top: -22px;
    left: 150px;
}

.reportcard .clear-date-t1 .glyphicon, .reportcard .clear-date-t2 .glyphicon {
    font-size: 14px;
    -webkit-text-stroke: 1px white;
}

.reportcard .form-control {
    height: 22px;
    padding: 1px 12px;
}

.reportcard .form-control[readonly] {
    background-color: unset;
}

.reportcard .form-control.ui-select-search-hidden {
    height: 0;
}

.reportcard .tool {
    top: 80px;
    right: 60px;
}

.reportcard .tool * {
    padding-left: 4px;
}

.reportcard .back {
    top: 80px;
    left: 60px;
}

.reportcard .edit .disabled {
    pointer-events: none;
    opacity: 0.5;
}

.ui-datepicker.ui-widget {
    font-size: 14px;
}

.reportcard .edit .ui-select-bootstrap .ui-select-toggle > .caret {
    right: 6px;
}

.reportcard .edit .ui-select-bootstrap .ui-select-dropdown.dropdown-menu {
    min-width: 60px;
}

.reportcard .edit .ui-select-bootstrap .ui-select-match.btn-default-focus {
    outline-offset: -4px;
}

.table>tbody>tr>td {
    line-height: unset;
}

/*.modal .form-control {*/
    /*height: 32px;*/
    /*!*padding: 1px 12px;*!*/
/*}*/

/*.modal .modal-header {*/
    /*font-size: 18px;*/
/*}*/