<div id="view" class="view">
    <img src="/ile/resources/images/reportcard.png" class="image" />

    <div class="tool" data-html2canvas-ignore="true">
        <a href="" ng-click="print()" title="Print"><i class="glyphicon glyphicon-print"></i></a>
        <a href="#!/edit" ng-click="edit(report.oen)" title="Edit"><i class="glyphicon glyphicon-edit"></i></a>
    </div>

    <div class="back" data-html2canvas-ignore="true">
        <a href="#!/list" title="List"><i class="glyphicon glyphicon-arrow-left"></i></a>
    </div>

    <div class="name">{{report.name}}</div>
    <div class="oen">{{formatOEN(report.oen)}}</div>
    <div class="center">{{report.center}}</div>
    <div class="instructor">{{report.instructor}}</div>
    <div class="absent-1">{{report.absent_1}}</div>
    <div class="absent-2">{{report.absent_2}}</div>

    <div class="skill-11">{{report.skill_11}}</div>
    <div class="skill-12">{{report.skill_12}}</div>
    <div class="skill-21">{{report.skill_21}}</div>
    <div class="skill-22">{{report.skill_22}}</div>
    <div class="skill-31">{{report.skill_31}}</div>
    <div class="skill-32">{{report.skill_32}}</div>
    <div class="skill-41">{{report.skill_41}}</div>
    <div class="skill-42">{{report.skill_42}}</div>

    <div class="oral-g1">{{report.oral_g1}}</div>
    <div class="oral-g2">{{report.oral_g2}}</div>
    <div class="oral-c1">{{report.oral_c1}}</div>
    <div class="oral-c2">{{report.oral_c2}}</div>

    <div class="reading-g1">{{report.reading_g1}}</div>
    <div class="reading-g2">{{report.reading_g2}}</div>
    <div class="reading-c1">{{report.reading_c1}}</div>
    <div class="reading-c2">{{report.reading_c2}}</div>

    <div class="writing-g1">{{report.writing_g1}}</div>
    <div class="writing-g2">{{report.writing_g2}}</div>
    <div class="writing-c1">{{report.writing_c1}}</div>
    <div class="writing-c2">{{report.writing_c2}}</div>

    <div class="date-t1">{{report.date_t1}}</div>
    <div class="date-t2">{{report.date_t2}}</div>
    <div class="signature-t1" ng-show="report.signature_t1"><img src="/ile/resources/images/{{report.signature_t1}}"/></div>
    <div class="signature-t2" ng-show="report.signature_t2"><img src="/ile/resources/images/{{report.signature_t2}}"/></div>
</div>
